<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		Search page.
		<p:accordionPanel var="apps" value="#{appsBean.apps}">
                <p:tab title="#{apps.title}" >
                    <p>
                        <h:outputText value="About: " style="font-weight:bold" />
                        <h:outputText value="#{apps.desc}" />
                    </p>
                    <p>                 
                        <h:outputText value="Developer: " style="font-weight:bold" />
                        <h:outputText value="#{apps.developer}" />
                    </p>
                    <h:form id="downloadForm">
                        <h:commandButton value="Download" id="link" action="#{appsBean.download(apps)}"/>
                    </h:form>
                    <h:form id="inapropriateForm">
                        <h:commandButton value="Inappropriate!" id="link" action="#{appsBean.inappropriate(apps)}"/>
                    </h:form>
                    <h:form id="similarForm">
                        <h:commandButton value="Similar" id="link" action="#{appsBean.similar(apps)}"/>
                    </h:form>
                    
                </p:tab>
            </p:accordionPanel>
	</ui:define>
</ui:composition>
