<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		User page.
		<p:accordionPanel var="apps" id="allapps" value="#{appsBean.publishedAppsList}">
                <p:tab title="#{apps.title}" >
                    <p>
                        <h:outputText value="About: " style="font-weight:bold" />
                        <h:outputText value="#{apps.desc}" />
                    </p>
                    <p>                 
                        <h:outputText value="Developer: " style="font-weight:bold" />
                        <h:outputText value="#{apps.developer}" />
                    </p>
                    <h:form id="downloadForm" rendered="#{appsBean.downloadable(apps, userBean.username)}">
                        <!--<h:commandButton value="Download" id="link" action="#{appsBean.download(apps)}" ajax="false"/>-->
                        <h:outputLink value="#{apps.apkPath}">link</h:outputLink>
                    </h:form>
                    <h:form id="buyForm" rendered="#{appsBean.needBuy(apps, userBean.username)}">
                        <h:commandButton value="Buy for #{apps.price}" id="link" action="#{appsBean.buy(userBean.username, apps)}" ajax="true" update="allapps"/>
                    </h:form>
                    <h:form id="inapropriateForm">
                        <h:commandButton value="Inappropriate!" id="link" action="#{appsBean.inappropriate(apps)}"/>
                    </h:form>
                    <h:form id="similarForm">
                        <h:commandButton value="Similar" id="link" action="#{appsBean.similar(apps)}"/>
                    </h:form>
                    
                </p:tab>
            </p:accordionPanel>
                
            <h:form id="searchForm">    
                <h:panelGrid columns="1">
                    <p:inputText id="title" value="#{appsBean.title}" required="true">  
                        <f:validateLength minimum="2" />  
                    </p:inputText>  
                    
                    <p:commandButton value="Search" id="link" action="#{appsBean.search()}" 
                        ajax="false" />
                </h:panelGrid>  
            </h:form>
	</ui:define>
</ui:composition>
