<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<h:form> 
		    <p:menubar>
		    	<p:menuitem value="Bsuir Play Store" outcome="/pages/home/home" />  
		    	<p:menuitem value="Home" outcome="/pages/home/home" icon="ui-icon-close" />
		    	<p:menuitem value="Add Application" action="#{appsBean.toAddApp}" ajax="false" rendered="#{userBean.checkRole('ROLE_DEVELOPER')}"/>
		    	<p:menuitem value="Create Report" outcome="/pages/admin/reports" rendered="#{userBean.checkRole('ROLE_ADMIN')}"/>
		    	<p:menuitem value="About" outcome="/pages/unsecure/about" icon="ui-icon-help" />
	     		
		        <f:facet name="options">
		            <f:facet name="options">  
          				<p:commandButton styleClass="btn" type="button" value="Logout" icon="ui-icon-extlink" onclick="location.href='/bsuirplay/j_spring_security_logout'"/>  
        			</f:facet>
		        </f:facet>  
		    </p:menubar>  
		</h:form>
	</ui:composition>
</body>
</html>
