<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="content">
		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
		<h:form id="loginFormId" rendered="#{mainPageBean.isGuest()}">
			<h:panelGrid columns="3" cellpadding="10">
				<h:outputLabel for="username" value="Username:" />
				<p:inputText value="#{userBean.username}" id="username" required="true" label="username"/>
				<p:message for="username" />

				<h:outputLabel for="password" value="Password:" />
				<h:inputSecret value="#{userBean.password}" id="password" required="true" label="password"/>
				<p:message for="password" />
				
				<p:commandButton id="loginButton" value="Login" 
					action="#{userBean.login}" icon="ui-icon-check" />
				<p:commandButton id="registerButton" value="Register"
					action="#{userBean.register}" icon="ui-icon-check"/>
			</h:panelGrid>
		</h:form>
		<h:form id="gotoform" rendered="#{mainPageBean.isAuthenthicated()}">
		  <p:commandButton id="gotobtn" value="Apps" 
                    action="#{mainPageBean.goToPage()}"/>
		</h:form>
		<h:form id="accord" rendered="#{mainPageBean.isGuest()}">
		<p:accordionPanel var="apps" id="allapps" value="#{appsBean.publishedAppsList}">
                <p:tab title="#{apps.title}" >
                    <p>
                        <h:outputText value="About: " style="font-weight:bold" />
                        <h:outputText value="#{apps.desc}" />
                    </p>
                    <p>                 
                        <h:outputText value="Developer: " style="font-weight:bold" />
                        <h:outputText value="#{apps.developer}" />
                    </p>
                    <h:form id="buyform" rendered="#{!appp.isFree}">
                        <p>
                            <h:outputText value="Price: " style="font-weight:bold" />
                            <h:outputText value="#{apps.price}" />
                        </p>
                    </h:form>
                </p:tab>
            </p:accordionPanel>
       </h:form>
	</ui:define>
</ui:composition>
