<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		Upload application.
		<h:form id="uploadForm"> 
            <p:panel id="panel" header="New Application" style="margin-bottom:10px;">    
                <p:growl id="growl"/>
                <p:messages id="messages"/>
                <h:panelGrid columns="3">
                    <h:outputLabel for="title" value="Title: *" />
                    <p:inputText id="title" value="#{uploadBean.app.title}" label="Title: " required="true">  
                        <f:validateLength minimum="1" />  
                    </p:inputText>  
                    <p:message for="title" />  
                    
                    <h:outputLabel for="package" value="Package Name: *" />
                    <p:inputText id="package" value="#{uploadBean.app.id}" label="Package Name: " required="true">  
                        <f:validateLength minimum="1" />  
                    </p:inputText>  
                    <p:message for="package" />  
                    
                    <h:outputLabel for="desc" value="Description: *" />
                    <p:inputTextarea id="desc" rows="6" cols="33" value="#{uploadBean.app.desc}" required="true"/>
                    <p:message for="desc" />                   
                    
                    <h:outputLabel for="free" value="Free: *" />
                    <h:selectBooleanCheckbox id="free" value="#{uploadBean.app.isFree}" required="true"/>
                    <p:message for="free" />    
                    
                    <h:outputLabel for="price" value="Price: *" />
                    <p:inputTextarea id="price" value="#{uploadBean.app.price}" required="!uploadBean.app.isFree"/>
                    <p:message for="price" />       
                    
                    <p:commandButton value="Save" action="#{uploadBean.upload(userBean.username)}"   
                        ajax="false" id="link" icon="ui-icon-disk"/>
                </h:panelGrid>  
            </p:panel>
        </h:form>
	</ui:define>
</ui:composition>
