<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
			<p:accordionPanel var="apps" value="#{appsBean.publishedAppsList}">
				<p:tab title="#{apps.title}" >
					<p>
						<h:outputText value="About: " style="font-weight:bold" />
						<h:outputText value="#{apps.desc}" />
					</p>
					<p>					
                        <h:outputText value="Developer: " style="font-weight:bold" />
                        <h:outputText value="#{apps.developer}" />
					</p>
				</p:tab>
			</p:accordionPanel>
	</ui:define>
</ui:composition>
