<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		Admin page.
		<p:accordionPanel var="apps" value="#{appsBean.appsList}">
                <p:tab title="#{apps.title}" >
                    <p>
                        <h:outputText value="About: " style="font-weight:bold" />
                        <h:outputText value="#{apps.desc}" />
                    </p>
                    <p>                 
                        <h:outputText value="Developer: " style="font-weight:bold" />
                        <h:outputText value="#{apps.developer}" />
                    </p>
                    <h:form id="publishForm" rendered="#{apps.isPublished() == false}">  
                        <p:commandButton id="publishButton" value="Publish" 
                        action="#{appsBean.publish(apps, true)}" icon="ui-icon-check" />
                    </h:form>
                    
                    <h:form id="inapprForm" rendered="#{apps.isInappropriate()}">  
                        <p:commandButton value="Block" action="#{appsBean.publish(apps, false)}" icon="ui-icon-check" />
                    </h:form>
                </p:tab>
            </p:accordionPanel>
	</ui:define>
</ui:composition>
