<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		Reports page.
		<p:accordionPanel var="payment" value="#{reportsBean.getPaymentForPeriod()}">
                <p:tab title="#{payment.app}" >
                    <p>
                        <h:outputText value="App: " style="font-weight:bold" />
                        <h:outputText value="#{payment.app}" />
                    </p>
                    <p>                 
                        <h:outputText value="Owner: " style="font-weight:bold" />
                        <h:outputText value="#{payment.owner}" />
                    </p>
                    
                    <p>                 
                        <h:outputText value="Date: " style="font-weight:bold" />
                        <h:outputText value="#{payment.getDateFormated()}" />
                    </p>
                </p:tab>
            </p:accordionPanel>
	</ui:define>
</ui:composition>
