<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		Reports page.
		<h:form id="form"> 
    		<p:calendar value="#{reportsBean.startDate}" id="startD" mode="inline"/> 
    		<p:calendar value="#{reportsBean.endDate}" id="endD" mode="inline"/>
    		<h:form id="createForm">
                <h:commandButton value="Save" id="link" action="#{reportsBean.create()}"/>
            </h:form> 
        </h:form> 
	</ui:define>
</ui:composition>
