<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet library="js" name="jquery-1.9.1.js" />
    <h:outputStylesheet library="css" name="bootstrap.min.css" />
    <h:outputStylesheet library="css" name="bootstrap-responsive.min.css" />
    <h:outputStylesheet library="js" name="bootstrap.min.js" />
</h:head>

<h:body>
    <p:layout fullPage="true">
        
        <p:layoutUnit position="north" size="70"   resizable="false" closable="false" collapsible="false">
            <ui:insert name="header">
                <ui:include src="/template/common/header.xhtml" />
            </ui:insert>
        </p:layoutUnit>
    
        <p:layoutUnit position="south" size="40" resizable="false" closable="false" collapsible="false">
            <ui:insert name="footer">
                <ui:include src="/template/common/footer.xhtml" />
            </ui:insert>
        </p:layoutUnit>
    
        <p:layoutUnit position="west" size="200" header="Tools" resizable="true" closable="true" collapsible="true">
            <ui:insert name="west" />
        </p:layoutUnit>
    
        <p:layoutUnit position="center">
            <ui:insert name="content" />
        </p:layoutUnit>
    </p:layout>
</h:body>

</html>